@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}
/* MENU */
.header-container{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    
}

.header-container .logo img{
    width: 20%;
}

.header-container header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}
.header-container header .logo a{
    display: flex;
}
.header-container header ul{
    display: flex;
    list-style: none;
}
.header-container header nav ul li a{
    text-align: none;
    color: #d52fa0;
    margin: 0 15px;
    padding: 30px;
    transition: .5s;
    text-decoration: none;
}
.header-container header nav ul li a:hover{
    color: #44e6ee;
    
}
.nav-responsive{
    background-color: #1CB698;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/* SECCION I N I C I O */
.home{
    
    /*background-image: linear-gradient(to left bottom, #44e6ee, #00bbe2, #008ecf, #0061b0, #2d3284), url("/weblin/images/home-1.jpg");*/

    background: linear-gradient(to top, rgba(66, 77, 83, 0.8), rgba(30,35,38,1)),
    url(../images/home-1.jpg);

    /*background-image: url(../images/home-1.jpg);*/
    /*background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url("images/Home-1.jpg");*/
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.banner-content h1{
    letter-spacing: 5px;
}

.banner-content h2{
    letter-spacing: 5px;
}

.background{
    width: 100%;
    height: 100%;    
}

.home .banner-content{
    padding: 20px;
    background-color: #2d3284;
    max-width: 450px;
    max-height: 650px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
   
}
.home .banner-content img{
    margin-top: 40px;
    border: 5px solid #44e6ee;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.home .banner-content h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}
.home .banner-content h2{
    font-size: 15px;
    font-weight: normal;
}
.home .banner-content .social-media a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.home .banner-content .social-media a:hover{
    background-color: #44e6ee;
}
.about-me{

    background-image: linear-gradient(to right top, #2d3284, #0056a5, #0078bf, #009ad3, #00bbe2, #00c0ec, #00c6f5, #00cbff, #2db2ff, #7992fd, #b269da, #d52fa0);

    /*background-color: white;*/
    color: #fff;
    padding: 50px 20px;
    font-size: 20px;
}
.about-me .section-content{
    max-width: 1100px;
    margin: auto;
}
.about-me h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.about-me .section-content p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.about-me .section-content p span{
    color:#d52fa0;
    font-weight: bold;
}
.about-me .row{
    display: flex;
}
.about-me .row .col
{
    width: 50%;
}
.about-me .row .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.about-me .row .col ul{
    list-style: none;
}
.about-me .row .col ul li{
    margin: 12px 0;
}
.about-me .row .col ul li strong{
    display: inline-block;
    color:#d52fa0;
    width: 130px;
}
.about-me .row .col ul li span{
    background-color:#d52fa0;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.about-me .row .col .interests-container{
    display: flex;
    flex-wrap: wrap;
}
.about-me .row .col .interests-container .interest{
    width: 100px;
    height: 100px;
    background-color:#2d3284;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;

}.about-me .row .col .interests-container .interest:hover{
    background-color: #d52fa0;
}
.about-me .row .col .interests-container .interest i{
    font-size: 30px;
    margin-bottom: 10px;
}
.about-me button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.about-me button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color:#d52fa0;
    z-index: -1;
    transition: 1s;
}
.about-me button:hover .overlay{
    width: 100%;
}
/* S K I L L S  S E C T I O N */
.skills{
    background-color:#2d3284;
    color: white;
    padding: 50px 20px;
}
.skills .section-content{
    max-width: 1100px;
    margin: auto;
}
.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.skills .row{
    display: flex;
}
.skills .row .col{
    width: 50%;
    padding: 0 20px;
}
.skills .row .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.skills .skill .skill-bar{
    height: 8px;
    width: 80%;
    background-color: white;
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progress{
    background-color:#d52fa0;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .skill-bar span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #1CB698;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
/* Estas clases se agregaran dinamicamente mediante javascript */
.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript {
    0%{width: 0%;}
    100%{width: 75%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 89%;}
}

.skills .skill .photoshop{
    width: 0%;
    animation: 2s photoshop forwards;
}
@keyframes photoshop {
    0%{width: 0%;}
    100%{width: 95%;}
}

.skills .skill .illustrator{
    width: 0%;
    animation: 2s illustrator forwards;
}
@keyframes illustrator {
    0%{width: 0%;}
    100%{width: 81%;}
}

.skills .skill .drupal{
    width: 0%;
    animation: 2s drupal forwards;
}
@keyframes drupal {
    0%{width: 0%;}
    100%{width: 55%;}
}

.skills .skill .communication{
    width: 0%;
    animation: 2s communication forwards;
}
@keyframes communication {
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .trabajo{
    width: 0%;
    animation: 2s trabajo forwards;
}
@keyframes trabajo {
    0%{width: 0%;}
    100%{width: 70%;}
}

.skills .skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}
@keyframes creatividad {
    0%{width: 0%;}
    100%{width: 99%;}
}

.skills .skill .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;
}
@keyframes dedicacion {
    0%{width: 0%;}
    100%{width: 65%;}
}

.skills .skill .project{
    width: 0%;
    animation: 2s project forwards;
}
@keyframes project {
    0%{width: 0%;}
    100%{width: 94%;}
}

footer{
    display: flex;
    /*background-image: url(../images/footer.jpg);*/

    background: linear-gradient(to top, rgba(66, 77, 83, 0.8), rgba(30,35,38,1)),
    url(../images/footer.jpg);

    width: 100%;
    height: 150px;
    
    color: white;
    padding: 25px 50px;
    margin-top: 20px;
    background-size: cover;
    justify-content: space-around;
    align-items: center;
}

footer p a{
    text-decoration: none;
    margin: 5px;
    color:white;
    text-align: left;
}

footer p{
    font-size: 1.5em;
}

.social-media-footer a{
    color: white;
    padding: 15px 5px;
    font-size: 30px;
}

footer p a:hover{
   background-color: #1CB698;
   color:black;
   transition: .5s;
}

.social-media-footer a:hover{
    background-color: #1CB698;
    color: black;
 }

.interest svg{
    width: 50px;
}

